button {
    font-weight: bold;
    color: goldenrod;
}

#longDiv {
    width: 300px;
    height: 200px;
    border: 15px solid #E8C48F;
    padding: 10px;
    overflow: auto;
}
.div1 {
    width: 300px;
    height: 300px;
    border: 5px solid #E8C48F;
    padding: 10px;
    overflow: auto;
}
.center {
    position: absolute;
  left: 50%;
  /* top: 50%; */
  margin-left: -20px;
  /* margin-top: -20px; */
}